<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="iamguru-regression-suite" parallel="tests" thread-count="2">

<listeners>
	<listener class-name="com.aventstack.chaintest.plugins.ChainTestListener"/>
	<listener class-name="com.iamguru.AI.utilities.ExtentReportListener"/>
	
</listeners>
	
<test name="E-Socio Learning Domain">
	<parameter name="browser" value="chrome"/>
	<classes>
		
		<!--<class name="com.iamguru.AI.testCases.AdminRegressionTest"/>-->
		<class name="com.iamguru.AI.testCases.WebsiteTest"/>
		<!--<class name="com.iamguru.AI.testCases.Regression"/>-->
		
		
		</classes>
</test>

</suite>	